body {
  background-color: #f8f9fa;
}

.card {
  color: #fff;
  margin-bottom: 1rem;
}

.card .icon {
  font-size: 2rem;
}

.dashboard-title {
  font-weight: bold;
  text-align: center;
  background-color: #20398E;
  padding: 2rem;
  color: rgb(255, 255, 255);
}

 .icon-bg {
        position: absolute;
        top: 1px;
        right: 15px;
        font-size: 70px;
        color: rgb(0, 0, 0);
        opacity: 0.15;
        pointer-events: none;
    }

.summary-card {
  background-color: #ffc107;
  color: #000;
}

footer {
  font-size: 0.85rem;
  text-align: center;
  margin-top: 2rem;
}

.logo-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.logo-bar img {
  height: 50px;
}

/* css Loading */

    #loadingOverlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.8);
        z-index: 9999;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .spinner {
        width: 50px;
        height: 50px;
        border: 6px solid #ccc;
        border-top: 6px solid #28a745;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0%   { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

